.Dashboard_wrapper {
  position: relative;
  width: 100%;
}

.Dashboard_introduction {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 20px 40px;
}
  .Dashboard_introduction_heading {
    margin: 0px;
  }

.Dashboard_fetchItems {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
