:root {
  --Black: #000000;
  --White: #ffffff;
  --OffWhite: #C0BFBF;
  --OffBlack: #1b1b1b;
  --AccentRed: #940000;
  --Yellow: #ffe400;
  --StaticDark: #585858;
  --PrimaryDark: #2b2b2b;
  --SecondaryDark: #636363;
  --PrimaryLight: #ffffff;
  --SecondaryLight: #dedede;
}
